
#body{
	margin: 0;
}

div.page{
	position: fixed;
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
}

span.DeviceContainer{
	border: 1px solid black;
	display: inline-block;
	width: 95%;
	height: 45%;
	overflow-y: auto;
	text-align: justify;
}

span.DeviceWrapper{
	display: inline-block;
}

span.Device{
	padding: 10px;
	margin: 10px;
	background-color: gray;
	display: block;
}
	span.Device_InnerSpan{
		width: 96px;
		display: block;
	}

	span.Device_Image{
		height: 72px;
		background-color: blue;
	}

	span.Device_Title{
		background-color: red;
		text-align: center;
		height: 1.5em;
		line-height: 1.5em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-user-select: none;  
		-moz-user-select: none;    
		-ms-user-select: none;      
		user-select: none;
	}

	span.Device_Spacing{
		height: 12px;
	}
